.document_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0 0 50px;
}

.owners_details {
    display: flex;
    flex-direction: column;
    margin:  0 0 0 15px;
}

.owners_docs {
    margin:  0 0 0 15px;
}

.details {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto 10px;
    background: rgba(255,255,255,0.5);
    border-radius: 5px;
    transition: 0.3s;
    overflow: hidden;
  }
  
  .details::after {
    z-index: 12;
    position: absolute;
    right: 24px;
    top: 15px;
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    border-right: 3px solid #425995;
    border-bottom: 3px solid #425995;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: .3s;
  }
  
  .details[open]::after {
    transform: rotate(45deg);
  }
  
  .details[open] .details__content {
    margin-top: 0;
  }
  
  .details__title {
    z-index: 10;
    position: relative;
    background: #fff;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    list-style: none;
    font-weight: 700;
    transition: .3s;
  }
  
  .details__content {
    z-index: 0;
    position: relative;
    padding: 10px 0 10px 32px;
    font-size: 18px;
    margin-top: -100px;
    transition: .3s;
  }
  
  .details__content p:last-child {
    margin-bottom: 0;
  }
  .details__content p:first-child {
    margin-top: 0;
  }